* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: var(--font-dm-sans);
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    min-width: 100vw;
}