#movie-detail-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.poster-wrapper {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 2/3;
    padding: 1em 2em;
}

.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.75em;
}

.movie-title {
    font-size: 1.85em;
}

.movie-information {
    padding: 1em 2em;
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
}

.movie-tag {
    padding: .5em 0 1em;
    border-bottom: 1px solid var(--color-primary);
}

.movie-tag span {
    padding: 0.3em 0.45em;
    border-radius: 0.35em;
    background-color: var(--color-surface-muted);

    color: var(--color-text-secondary);
    font-size: .8em;
}

.schedule-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    background-color: var(--color-primary);
    padding: .75em .5em;
    margin: 1em 0 .5em;
    border-radius: .75em;
}

.button-link {
    text-decoration: none;
    color: var(--color-on-primary);
}

.synopsis {
    text-align: justify;
}

.not-found-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@media (min-width: 480px) {
    .poster-wrapper {
    overflow: hidden;
    width: 80%;
    aspect-ratio: 2/3;
    padding: 1em;
    }

    .movie-poster {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0.75em;
    }
}

@media (min-width: 600px) {
    .poster-wrapper {
        width: 60%;
    }
}

@media (min-width: 768px) {
    #movie-detail-container {
        flex-flow: row nowrap;
    }

    .poster-wrapper {
        min-width: 40%;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .movie-title {
        font-size: 2.25em;
    }
    
    .movie-tag span {
        font-size: 1em;
    }

    .synopsis {
        font-size: 1.1em;
    }
}

@media (min-width:1500px) {
    .poster-wrapper {
        min-width: 26%;
    }

    .synopsis {
        font-size: 1.25em;
    }
}